.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px;
}
.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}
.first img,
.second img,
.third img{
  margin: 10px;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */


#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

.col_xs_12 h3,
.col_md_12 h3,
.col_lg_12 h3{
  padding: 5px 0px;
}
.row h1 {
  padding: 10px 0px;
}
/* Media Query */
@media screen and (min-width:992px){
  .bgc_green{
    background-color: lightgreen;
  }
  .second_row img{
    padding-top: 10px;
  }
}
@media screen and (min-width:768px) and (max-width: 991px){
  .bgc_red{
    background-color: lightcoral;
  }
  hr{
    width: 90%;
    margin: 0 auto;
  }
  .second_row img{
    padding-top: 10px;
  }
}
@media screen and (max-width: 767px){
  .bgc_blue{
    background-color: #F2F2CD;
  }
  hr{
    width: 80%;
    margin: 0 auto;
  }
}